/**************** RESET ****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/**************** VARIABLES ****************/
:root {
    --padding-section: 2rem;

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1.2rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Poppins', sans-serif;

    /* colors */
    --primary-color-200: #90fff5;
    --primary-color-400: #33e6e3;
    --primary-color-600: #019da0;
    --primary-color-950: #002E33;
    --secondary-color-600: #cd2cb4;
    --secondary-color-700: #aa2192;

    --text-color: #767676;
    --text-color-alt: #E4E4E4;
    --background-color: #F9F9F9;
    --background-color-alt: #ffffff;

    --gradient-1: linear-gradient(45deg,
            hsl(181deg 99% 32%) 0%,
            hsl(181deg 90% 35%) 8%,
            hsl(180deg 82% 38%) 17%,
            hsl(179deg 75% 41%) 25%,
            hsl(179deg 68% 45%) 33%,
            hsl(178deg 61% 48%) 42%,
            hsl(178deg 61% 52%) 50%,
            hsl(177deg 65% 56%) 58%,
            hsl(177deg 69% 60%) 67%,
            hsl(176deg 74% 65%) 75%,
            hsl(176deg 80% 69%) 83%,
            hsl(175deg 88% 74%) 92%,
            hsl(175deg 100% 78%) 100%);

    --gradient-2: linear-gradient(45deg,
            hsl(175deg 100% 78%) 0%,
            hsl(175deg 88% 74%) 8%,
            hsl(176deg 80% 69%) 17%,
            hsl(176deg 74% 65%) 25%,
            hsl(177deg 69% 60%) 33%,
            hsl(177deg 65% 56%) 42%,
            hsl(178deg 61% 52%) 50%,
            hsl(178deg 61% 48%) 58%,
            hsl(179deg 68% 45%) 67%,
            hsl(179deg 75% 41%) 75%,
            hsl(180deg 82% 38%) 83%,
            hsl(181deg 90% 35%) 92%,
            hsl(181deg 99% 32%) 100%);
}

/**************** GLOBAL ****************/
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--background-color);
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--primary-color-950);
}

.subtitle {
    font: 500 var(--subtitle-font-size) var(--title-font);
    color: var(--primary-color-950);
}

.section {
    padding: 6rem 0;
}

.text {
    padding-bottom: var(--padding-section);
}

.button {
    background-color: var(--primary-color-600);
    border: var(--primary-color-600);
    color: var(--background-color-alt);
    height: 2.7rem;
    display: inline-flex;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background-color 0.5s;
}

.button:hover {
    background-color: transparent;
    color: var(--primary-color-950);
    border: 1px solid var(--primary-color-950);
}

.divider-1 {
    height: 1px;
    background: var(--gradient-1);
}

.divider-2 {
    height: 1px;
    background: var(--gradient-2);
}

/**************** HEADER ****************/
.header-page {
    width: 100%;
    border-bottom: 1px solid var(--text-color-alt);
    background-color: var(--background-color);
    position: fixed;
    z-index: 1;

    & .logo {
        font: 700 1.31rem var(--title-font);
        color: var(--primary-color-600);
    }

    & ul {
        align-items: center;
        gap: 0.5rem;

        & a {
            color: var(--text-color);
        }

        & a:hover {
            font-weight: bold;
            color: var(--primary-color-600);
        }
    }
}

/**************** INICIO ****************/
#inicio {
    & .image {
        & img {
            height: 20rem;
            width: auto;
        }
    }
}

/**************** PROJETO ****************/
#projeto {
    background-color: var(--background-color-alt);

    & .image {
        & img {
            border-radius: 10px;
        }
    }

    & .text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    & .cards {
        margin-top: 5rem;

        & .card {
            padding: 3.625rem 2rem;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
            border-bottom: 0.25rem solid var(--primary-color-600);
            text-align: center;

            & i {
                margin-bottom: 1.5rem;
                font-size: 3.5rem;
                color: var(--primary-color-600);
            }
        }
    }
}

/**************** ARMAS ****************/
#armas {
    & .card {
        gap: 1.5rem;
        padding: 2rem;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
        border-bottom: 0.25rem solid var(--primary-color-600);

        & .image {
            & img {
                width: 12rem;
            }
        }
    }
}

/**************** MONTAGEM ****************/
#montagem {
    background-color: var(--background-color-alt);

    & .accordion-body {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 1rem;

        & img {
            height: 150px;
            width: auto;
        }

        & P {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

/**************** GALERIA ****************/
#galeria {
    & .image {
        img {
            height: 14rem;
        }
    }

    & .carousel-inner {
        border-radius: 10px;
    }
}

#videos {
    background-color: var(--background-color-alt);

    & iframe {
        border-radius: 10px;
    }
}

/**************** SOBRE ****************/
#sobre {
    background-color: var(--background-color-alt);

    .profiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem 2rem;

        & .profile {
            display: flex;
            align-items: center;
            gap: 0.7rem;

            & img {
                height: 96px;
                width: 96px;
            }

            & .role {
                min-width: 14.5rem;
            }
        }
    }
}

/**************** CONTATO ****************/
#contato {
    & img {
        max-height: 22rem;
    }

    & .form-floating {
        z-index: 0;
    }

    & .modal-body{
        & img {
            max-height: 10rem;
        }
    }
}

/**************** FOOTER ****************/
footer {
    background: var(--primary-color-600);
    padding-top: 4rem;
    padding-bottom: 1rem;

    & .brand {
        & .logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font: 700 1.31rem var(--title-font);
            color: var(--primary-color-950);
        }

        & .social {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            i {
                color: var(--primary-color-950);
                font-size: 1.5rem;
            }
        }

        & .fiap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & img {
                width: 100px;
                height: auto;
            }
        }
    }

    & .texto {
        display: flex;
        justify-content: center;
        color: var(--primary-color-950);
    }
}